* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1em;
}

.bold {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

/* Body */

body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body > :not(main):not(script) {
  height: 6em;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

/* End Body */

/* Header */

header > * {
  height: 100%;
  display: flex;
  align-items: center;
}

header > .logo > img {
  width: 3em;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* End Header */

/* Main */

main {
  border: 1px solid #000;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main p {
  font-size: 1.5em;
}

main > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > aside {
  width: 16em;
  background-color: cornflowerblue;
}

main > article {
  flex-grow: 2;
}

/* End Main */
